DATABASE_URL=postgresql://{YOUR_PATH}
PORT=3012
RABBITMQ_URL=amqp://guest:guest@localhost:5672
AUTH_SERVICE_URL=http://localhost:3000
CONSUL_URL=http://localhost:8500
SERVICE_NAME=kitchen-service
SERVICE_ADDRESS=kitchen-service
SERVICE_PORT=3012
NODE_ENV=development
