@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #ea580c;
  --color-primary-dark: #c2410c;
  --color-primary-soft: #ffedd5;

  --color-paper: #fafaf9;
}

body {
  background-color: var(--color-paper);
}

html {
  scrollbar-gutter: stable;
}
